
<div class="container">

  <h2>Customers</h2>
  <div class="well">
    <%= link_to "New Customer", new_customer_path, remote: true, class: "btn btn-primary" %>
  </div>
  <div class="new-customer"></div>

  <table id class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Address</th>
      <th colspan='2'>Actions</th>
    </tr>
    </thead>
    <tbody id="customers">
      <% @customers.each do |c| %>
      <tr>
        <td><%= c.first_name %></td>
        <td><%= c.last_name %></td>
        <td><%= c.email %></td>
        <td><%= c.address %></td>
        <td>| <%= link_to 'Delete', customer_path(c), method: :delete, data: { confirm: 'Sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= render 'dialog' %>
  To see the action buttons, create a new Customer - then you can edit, delete
  <br>
  <a href="http://www.benkirane.ch/ajax-bootstrap-modals-rails/">Tutorial Source</a>
</div>